.pg-content {
	text-align: center
}
.title {
	text-align: center;
}

.self-operating {
	text-align: center;
}

.self-button {
	margin: 0 15px;
}
.self-control{
	display :inline-block;
	width: 80%;
	margin-left: 22px;
}
.self-select{
	display :inline-block;
	width: 80%;
	margin-left: 25px;
}
.modal-dialog{
	width: 80%;
}
a {
    cursor: pointer;
}