.self-operating {
	text-align: center;
}
.image-show img {
	width: 100%;
}
.modal-dialog {
    width: 60%;
}
.self-control{
	display :inline-block;
	width: 80%;
	margin-left: 22px;
}
.image-list-item{
	display:inline;
	width:100%;
}
.image-list-item img{
	margin: 10px;
}
.pg-content {
	text-align: center
}
