.article-auth{
	float: none;
    margin-top: 20px;
}

.article-auth-element{
    color: #999;
    margin-right: 20px;
}
.article-auth-element a:hover{
	color: red;
}

@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0.5;} 
    60% {opacity: 1;}  
    80% {opacity: 0.5;}   
    100% {opacity: 0;}  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0.5;} 
    60% {opacity: 1;}  
    80% {opacity: 0.5;}   
    100% {opacity: 0;}  
}
.title {    
    animation: fade-in;/*动画名称*/  
    animation-duration: 3s;/*动画持续时间*/  
    -webkit-animation:fade-in 3s;/*针对webkit内核*/  
}    

img{
	display: block;
    max-width: 60%;
    max-height: 60%;
    cursor:pointer;
  	transition:all 0.6s ease-in-out;
}
img:hover{
  display:block;
  transform：scale(5);
   max-width :100%;
   max-height :60%;
}
::-webkit-scrollbar {
	display: none
}
